<app-navbar></app-navbar>

<div class="container-fluid">
	
	<ul class="nav nav-tabs mt-3">
		<li class="nav-item">
		  <a class="nav-link"
            [ngClass]="{'active': itemSeleccionado == 'superheroes-item'}" 
            (click)="seleccionarItem('superheroes-item')">
            Superheroes
        </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" 
            [ngClass]="{'active': itemSeleccionado == 'detalles-item'}" 
            (click)="seleccionarItem('detalles-item')">
            Detalles de superheroe
        </a>
		</li>
	</ul>

	<div *ngIf="itemSeleccionado == 'superheroes-item'">
        <div class="row">
            <div class="col-sm-6 mb-2" *ngFor="let superheroe of superheroes; let i = index">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ superheroe.imagen_url }}" class="card-img-top" alt="imagen + {{ superheroe.nombre }}">
                        <h5 class="card-title">{{ superheroe.nombre }}</h5>
                        <button class="btn btn-primary" 
                            [ngClass]="{'btn-success': superheroeElegido == superheroe}" 
                            (click)="elegirPersonaje(superheroe)" 
                            [disabled]="superheroeElegido == superheroe">
                            <span *ngIf="superheroeElegido !== superheroe">Seleccionar</span>
                            <span *ngIf="superheroeElegido == superheroe">Elegido</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div *ngIf="itemSeleccionado == 'detalles-item'">
        <div class="card">
            <div class="card-header">
                Personaje elegido
            </div>
            <div class="card-body">
                <img src="{{ superheroeElegido.imagen_url }}" class="card-img-top" alt="imagen + {{ superheroeElegido.nombre }}">
                <h5 class="card-title">{{ superheroeElegido.nombre }}</h5>
                <p class="card-text">{{ superheroeElegido.descripcion }}</p>
                <a href="#" class="btn btn-primary" (click)="atras()">Volver</a>
            </div>
        </div>
    </div>
	
</div>